/* colours for the page */
:root {
    --white: #ffffff;
    --pink: #ff6565;
    --black: #071629;
    --hover: #FF6565;
}

body {
  width: 100%;
  height: 100vh;
  font-family: Source-Sans-Pro, sans-serif;
  background-image: url("./assets/headphones_hero_1.jpg");
  background-size: cover;
  height: 50%;
  margin: 0;
  background-position: left top;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 35px;
  position: absolute;
  margin-right: 100%;
}

@media (min-width: 481px) and (max-width: 480px) {
  body {
    width: 100%;
    background-position: center;
  }
}

@media (max-width: 600px) {
  .logo img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: none;
    transition: all 0.2s ease-in-out;
  }

  .open-menu, .close-menu {
    display: block;
  }

  #check:checked ~ .menu {
    right: 0;
  }
}

button {
  background-color: var(--pink);
}

.hero-text {
  color: var(--white);
  padding-top: 60%;
}

.hero-text h1 {
  font-size: 32px;
  padding-bottom: 0;
}

.hero-text button {
  color: var(--white);
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  margin-top: 20px;
  margin-bottom: 50px;
}
  
.hero-image .hero-text {
  text-align: center;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  list-style: none;
  padding: 12px 20px;
  margin-left: 10%;
}

.menu {
  display: flex;
}

.menu li {
  padding-top: 30px;
  padding-left: 30px;
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  text-align: center;
  position: relative;
}

.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--white);
  transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
  width: 100%;
}

.open-menu, .close-menu {
  position: relative;
  color: var(--white);
  cursor: pointer;
  font-size: 1.5rem;
}

.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  right: 20px;
}

#check {
  display: none;
}