/* colours for the page */
:root {
    --white: #ffffff;
    --purple: #c271ff;
    --black: #071629;
}

/* General Styles */
/* Nav Styles */
/* Button Styles */
/* Container Styles */
/* Image Styles */