body {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
    padding: 50px 15px;
}

aside {
    flex: 1;
    overflow-y: auto;
}

/* Header */
header {
	padding: 20px 0;
	height: 80px;
}
header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
header li {
	display: inline;
	vertical-align:middle;
}
header li:first-child {
	margin: 0;
}
header li a {
	margin: 0 10px;
}
header li.logo {
	font-size: 40px;
}
header a {
	text-decoration: none;
}
